@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Kumbh+Sans:wght@400;700&family=Montserrat:wght@500;700&family=Oswald:wght@400;500;600;700&family=Overpass:wght@400;700&family=Roboto:wght@500;700&display=swap");

/* CSS RESET AND VARIABLES */
:root {
  --color-primary-dark: hsl(238, 29%, 16%);
  --color-primary-red: hsl(14, 88%, 65%);
  --color-background-violet: hsl(273, 75%, 66%);
  --color-background-blue: hsl(240, 73%, 65%);
  --color-secondary-very-dark: hsl(237, 12%, 33%);
  --color-secondary-dark: hsl(240, 6%, 50%);
  --color-secondary-light: hsl(240, 5%, 91%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: linear-gradient(
    var(--color-background-violet),
    var(--color-background-blue)
  );
  background-repeat: no-repeat;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: "Kumbh Sans", serif;
}

a {
  text-decoration: none;
}

.attribution {
  position: absolute;
  bottom: 5px;
  color: var(--color-secondary-light);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--color-secondary-light);
  text-decoration: underline;
}

.attribution a:hover {
  color: var(--color-primary-dark);
}

ul {
  list-style: none;
}

/* --------------- FAQ ACCORDIAN CARD ---------------- */
.faq-accordian-card {
  max-width: 920px;
  width: 100%;
  height: 508px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 1rem 2rem 3px rgba(0, 0, 0, 0.3);
}

.col {
  position: relative;
  height: 100%;
}

.col1 {
  margin-right: 29px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.col1 .img-bg {
  width: 966px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  background-position: -579px -295px;
}

.col1 .img-box {
  position: absolute;
  top: 58.4%;
  left: -63.9%;
  transform: translate(100%, -50%);
}

.img-woman {
  width: 472px;
  height: 359px;
  position: absolute;
  top: 70px;
  left: 0px;
  background: url("images/illustration-woman-online-desktop.svg") 0 0 no-repeat
    scroll transparent;
  background-size: cover;
  background-position: -85px 0px;
}

.col2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col2 h1 {
  font-size: 3.2rem;
  margin-bottom: 3rem;
  color: var(--color-primary-dark);
}

.accordian {
  max-width: 350px;
  height: 252px;
  color: var(--color-secondary-dark);
  overflow: auto;
  overflow-x: hidden;
  scrollbar-color: var(--color-background-violet) var(--color-background-blue);
}

.accordian li:first-child {
  padding-top: 0px;
}

.accordian::-webkit-scrollbar {
  width: 10px;
}

.accordian::-webkit-scrollbar-thumb {
  /* Foreground */
  background: linear-gradient(
    var(--color-background-violet),
    var(--color-background-blue)
  );
  border-radius: 10px;
}
.accordian::-webkit-scrollbar-track {
  /* Background */
  background: var(--color-secondary-light);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.accordian ul {
  font-size: 14px;
}
.accordian li {
  padding: 18px 0;
  border-bottom: 1px solid var(--color-secondary-dark);
}

.accordian-control {
  border: none;
  width: 100%;
  text-align: left;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-family: "Kumbh Sans", serif;
  font-size: 14.3px;
}

.accordian-control.open,
.accordian-control:hover.open {
  font-weight: bold;
  color: var(--color-secondary-very-dark);
}

.accordian-control:hover {
  color: var(--color-primary-red);
}

.accordian-control span {
  padding-right: 6px;
}

.accordian-panel {
  display: none;
}

.accordian-panel.open {
  display: block;
  padding-top: 13px;
  font-size: 12.3px;
}

/* Mobile Design */
@media only screen and (max-width: 920px) {
  body {
    flex-direction: column;
  }

  .faq-accordian-card {
    max-width: 350px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
  }

  .col1 {
    margin-right: auto;
    align-items: center;
    width: 100%;
    margin-bottom: 3rem;
  }

  .col1 .img-bg {
    width: 252px;
    height: 109px;
    position: relative;
    background-image: url(images/bg-pattern-mobile.svg);
    background-position: center;
  }

  .col1 .img-box {
    display: none;
  }

  .img-woman {
    width: 250px;
    height: 200px;
    top: -16px;
    left: 50%;
    background: url("images/illustration-woman-online-mobile.svg") 0 0 no-repeat
      scroll transparent;
    background-position: center;
    transform: translate(-50%, -50%);
  }

  .col2 {
    width: 100%;
    padding: 25px;
    padding-top: 0;
    padding-bottom: 50px;
  }

  .col2 h1 {
    font-size: 3rem;
    text-align: center;
  }

  .accordian {
    max-width: 100%;
  }

  .accordian li:first-child {
    padding-top: 0px;
  }

  .accordian-control {
    font-size: 13px;
  }

  .accordian-panel.open {
    font-size: 12px;
    padding-right: 13px;
  }

  .attribution {
    position: relative;
    bottom: auto;
    margin-top: 20px;
  }
}
